################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/index.html
/ESX-Host-Cluster-QSG.md.bak
/iSCSI-cluster.md.bak
/cf/cf.pl.bak
*.pdf
